
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;  
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  background-color: rgb(223, 194, 144);
  display: flex;
  
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #eb032a;
  color: white;
  /* background-image: url("./assets/images/red.jpg");
  background-size: cover;
  width: 100%; */
}

.blue {
  background-color: #055fef;
  color: white;
}

.home {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  background-size: 1400% 100%;
  animation: rainbow 2s linear infinite;
}